name: Generate and register service with SBOM in VSM

on:
  push:
    branches:
      - "main"

jobs:
  build:
    name: Post Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - uses: leanix/vsm-discovery-github-action@CID-1136---add-new-id-logic
        with:
          api-token: ${{ secrets.VSM_LEANIX_API_TOKEN }}
          dry-run: true


      - uses: actions/setup-python@v4
        with:
          python-version: "3.8.3"
      - run: |
          python -m venv env
          source env/bin/activate 
          pip install --upgrade pip
          pip install -r requirements.txt
          cyclonedx-py -e -F --format json -o bom.json
          cat bom.json

      - uses: actions/github-script@v6
        id: my-script
        with:
          retries: 1
          script: |
            github.rest.repos.get({
              owner: context.repo.owner,
              repo:context.repo.repo,
            })
            .then(({data}) => {
              console.log(data.node_id)
            });


            
            
      # Invoke the GitHub action to register the service with SBOM
      - name: VSM discovery
        uses: leanix/vsm-discovery-github-action@main
        with:
          api-token: ${{ secrets.VSM_LEANIX_API_TOKEN }}
          # dry-run: true
